{% extends 'base.html' %}


{% block title %} Video Detail - MusicVideoHub {% endblock %}

{% block content %}
    <section class="page-header">
        <h1 class="animated-text">Music Detail</h1>
        <a href="{% url 'videos:list' %}" class="btn"><i class="fas fa-arrow-left"></i> Back to List</a>
    </section>

    <section class="music-detail glass-effect">
        <video controls width="350" height="290">
            <source src="{{ video.video_file.url }}" type="video/mp4">
        </video>
        <div class="music-info">
            <h2>{{ video.title }}</h2>
            <p> Description: {{ video.description }}</p>
            <p class="release-date">Upload Date: {{ video.upload_date | date:"Y-m-d" }}</p>

            <div class="action-buttons">
                <a href="{{ video.get_update_url }}" class="btn btn-edit"><i class="fas fa-edit"></i> Edit</a>
                <a href="{{ video.get_delete_url }}" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
            </div>
        </div>
    </section>
{% endblock %}