<footer class="glass-effect">
    <p>&copy; 2023 MusicVideo<span>Hub</span>. All rights reserved.</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/people/Samandar-Nayimjonov/pfbid0LLBYn1cMufU4LvYX31EciGPyShyCXDri7KdQqkubxw8Q99Nrt2gZW8uokw5JPLbRl/?mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/samandar-nayimjonov-594407329/"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com/1samandar_old"><i class="fab fa-instagram"></i></a>
    </div>
</footer>